<mat-dialog-content>
    <h4 style="display: flex; text-align: center; justify-content: center;">Change Password</h4>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <!-- Current Password -->
      <mat-form-field style="width: 100%">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" formControlName="currentPassword" />
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
          Current password is required
        </mat-error>
      </mat-form-field>
  
      <!-- New Password -->
      <mat-form-field style="width: 100%">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
          New password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')">
          New password cannot be more than 20 characters
        </mat-error>
      </mat-form-field>
  
      <!-- Confirm New Password -->
      <mat-form-field style="width: 100%">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmNewPassword" />
        <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.hasError('required')">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="changePasswordForm.hasError('passwordsMismatch')">
          New password and confirm password must match
        </mat-error>
      </mat-form-field>
  
      <!-- Buttons -->
      <div style="display: flex; justify-content: space-around; margin: 1cqw;">
        <button style="margin: 0 10px;" mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Submit</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-dialog-content>
  