<div style="display: flex; justify-content: space-between; height: 50px;">
    <h2 mat-dialog-title style="color: #6b4f34; font-weight: bold;">Confirm Status</h2>
    <mat-icon class="closeButton" (click)="onCancel()">close</mat-icon>
  </div>
<mat-dialog-content>
    <p>Are you sure to 
        <span [ngStyle]="{'color': category.status === 1 ? 'red' : 'green'}" style="font-weight: 500;">
            {{ category.status === 1 ? 'DeActive' : 'Active' }}
          </span>
        this product: <span style="color: red;">{{category.categoryName}}</span> ?</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="onConfirm()">Update</button>
</mat-dialog-actions>