<app-navbar></app-navbar>
<div class="coffee-shop-container">
  <!-- Left Panel: Filters Section -->
  <div class="filters-container">
    <div class="filters">
      <h3>Filter Products</h3>
      <!-- Search Input -->
      <input 
        [(ngModel)]="search" 
        (ngModelChange)="onSearchChange()" 
        placeholder="Search products..." 
        class="search-input"
      />

      <!-- <select [(ngModel)]="categoryFilter" (ngModelChange)="onCategoryChange()" class="filter-select">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>       -->

      <!-- Price Range Filter -->
      <div class="price-filter">
        <input 
          [(ngModel)]="minPrice" 
          type="number" 
          placeholder="Min Price" 
          (ngModelChange)="onSearchChange()" 
          class="price-input"
        />
        <input 
          [(ngModel)]="maxPrice" 
          type="number" 
          placeholder="Max Price" 
          (ngModelChange)="onSearchChange()" 
          class="price-input"
        />
      </div>
    </div>
  </div>

  <!-- Right Panel: Products Grid Section -->
  <div class="products-container">
    <div class="product-grid">
      <div *ngFor="let product of products" class="product-card">
        <!-- Product Detail Clickable Section -->
        <div class="product-card-detail" (click)="viewProductDetail(product.id)">
          <img [src]="getImage(product.thumbnail)" alt="Product Image" class="product-image"/>
          <div class="product-info">
            <h3>{{ product.productName }}</h3>
            <p>{{ product.categoryName }}</p>
            <p>{{ product.price | currency }}</p>
            <div style="height: 120px;">
              @if (product.rate) {
                  @for (star of stars; track $index; let j = $index) {
                      <mat-icon style="cursor: pointer;color: #FFD700;"> {{  (j+1) <= product.rate ? 'star' : 'star_border' }}</mat-icon>
                    }
                  <p>{{product.rate.toFixed(1)}}</p>
                  <p>({{product.numberReviews}} reviews)</p>
              }                    
          </div>
          </div>
        </div>

        <div class="quantity-controls">
          <!-- Button to decrease quantity -->
          <button 
            (click)="tempQuantity[product.id] = Math.max(1, (tempQuantity[product.id] || 1) - 1); $event.stopPropagation()">
            -
          </button>
        
          <!-- Input for quantity -->
          <input 
            type="number" 
            [(ngModel)]="tempQuantity[product.id]" 
            [min]="1" 
            class="quantity-input" 
            (click)="$event.stopPropagation()"
            (change)="onQuantityChange(product.id)"
          />
        
          <!-- Button to increase quantity -->
          <button 
            (click)="tempQuantity[product.id] = (tempQuantity[product.id] || 1) + 1; $event.stopPropagation()">
            +
          </button>
        </div>
        


        <!-- Add to Cart button -->
        <button class="btn btn-primary" (click)="addToCart(product); $event.stopPropagation()">Add to Cart</button>
      </div>
    </div>

    <!-- Pagination Section -->
    <div class="pagination-container">
      <mat-paginator 
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageIndex]="currentPage - 1"
        (page)="onPageChange($event.pageIndex + 1)"
        class="mat-paginator">
      </mat-paginator>
    </div>
  </div>
</div>
