<mat-toolbar class="navbar" style="display: flex; justify-content: space-between;">
    <div class="nav-logo" style="display: flex;" >
        <button id="toggleButton" style="background-color: transparent;" (click)="toggleSideBar()"><img src="/coffeshop.png" style="width: 100px; border-radius: 50%; z-index: 1000;" /></button>
      <span class="app-title">Coffee Shop</span>
    </div>
    <div style="display: flex; width: 60%; justify-content: center; align-items: center;" >
    <button mat-button style="flex: 1;" (click)="homeNavigate()">HOME</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/productlists">MENU</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/contact">CONTACT</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/about">ABOUT</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/cart">
      CART <mat-icon>shopping_cart</mat-icon>
  </button>
    <span class="example-spacer"></span>
    <div class="nav-section">
      @if(isLoggedIn){
        <p style="margin: 0 10px 0 0;">{{currentUser?.userName}}</p>
        <img mat-card-avatar [matMenuTriggerFor]="menu"  [src]="getImage(currentUser?.avatar)" style="margin: 0 10px 0 0; cursor: pointer;">
          <mat-menu #menu="matMenu">
            @if(currentUser?.role === 1){
            <button mat-menu-item (click)="toProfile()">Profile</button>
            <button mat-menu-item (click)="notificationNavigate()">Notification</button>
            <button mat-menu-item (click)="notificationHistory()">History</button>
            <button mat-menu-item (click)="logout()" >Logout</button>
            }
            @else{
              <button mat-menu-item (click)="toProfile()">Profile</button>
              <button mat-menu-item (click)="toDashBoard()" >Dashboard</button>
              <button mat-menu-item (click)="logout()" >Logout</button>
            }
          </mat-menu>
        
      }
      @else {
        <button mat-button (click)="loginNavigate()">Log in</button>
        <button mat-button (click)="signupNavigate()">Sign Up</button>
      }
    </div> 
</div>
  </mat-toolbar>