<div class="order-management-container">
  <!-- Title -->
  <h2 class="order-management-title">Order Management</h2>

  <!-- Search -->
  <div class="order-management-header">
    <form class="search-form" (ngSubmit)="onChange()">
      <mat-form-field class="search-field" appearance="outline">
        <mat-label>Search Orders</mat-label>
        <input 
          matInput 
          [(ngModel)]="search" 
          name="search" 
          (keyup.enter)="onChange()" 
          placeholder="Search by Customer or Order ID" />
        <button mat-icon-button matSuffix (click)="onChange()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <!-- Order Table -->
  <div class="table-container">
    <table mat-table [dataSource]="ordersData" matSort (matSortChange)="onSortChange()" class="order-table mat-elevation-z8">
      <!-- Order ID Column -->
      <ng-container matColumnDef="OrderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
        <td mat-cell *matCellDef="let order">{{ order.id }}</td>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let order">{{ order.orderDate | date: 'short' }}</td>
      </ng-container>

      <!-- Customer Name Column -->
      <ng-container matColumnDef="CustomerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
        <td mat-cell *matCellDef="let order">{{ order.userName }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let order">
          <span
            [ngClass]="{
              'status-completed': order.status === 1,
              'status-pending': order.status === 0,
              'status-cancelled': order.status === 2
            }">
            {{ order.status === 1 ? 'Processing' : order.status === 0 ? 'Pending' : 'Completed' }}
          </span>
          <!-- <button 
            mat-button 
            color="primary" 
            (click)="openChangeStatusDialog(order)">
            Change Status
          </button> -->
        </td>
      </ng-container>
      

      <!-- Total Price Column -->
      <ng-container matColumnDef="TotalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let order">{{ order.totalPrice | currency }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let order">
          <!-- <button mat-button (click)="viewDetail(order)" class="action-button">
            View Details
          </button> -->
          <button mat-button (click)=" openChangeStatusDialog(order)" class="status-button">
            Toggle Status
          </button>
        </td>
      </ng-container>

      <!-- Table Header and Row Definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Pagination at the bottom -->
  <div class="pagination-container">
    <mat-paginator 
      [length]="totalOrders" 
      [pageSize]="pageSize" 
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
