.order-management-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.order-management-title {
  text-align: center;
  margin-bottom: 20px;
  color: #6b4f34;
  font-weight: bold;
}

.order-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  width: 300px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.order-table {
  width: 100%;
  border-spacing: 0;
}

.order-table th,
.order-table td {
  padding: 12px;
  text-align: left;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.status-completed {
  color: green;
  font-weight: bold;
}

.status-pending {
  color: orange;
  font-weight: bold;
}

.status-cancelled {
  color: red;
  font-weight: bold;
}


.action-button {
  color: #6b4f34;
}

.status-button {
  background-color: #d1f7d6;
  color: #096b2f;
  border-radius: 4px;
  padding: 4px 8px;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
