<h2 style="color:#6b4f34; font-weight: bolder;">Product List</h2>
<div style="display: flex; justify-content: space-between;">
  <form class="example-form" (ngSubmit)="onChange()">
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput [(ngModel)]="search" name="search" (keyup.enter)="onChange()"  placeholder="Search">
      <mat-icon matSuffix (click)="onChange()">search</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="filterCategory" (selectionChange)="onChange()" name="categoryName">
      <mat-option >All</mat-option>
      @for (name of listCategoryName; track $index) {
        <mat-option value="{{name}}">{{name}}</mat-option>
      }     
    </mat-select>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="filterStatus" (selectionChange)="onChange()" name="categoryStatus">
      <mat-option >All</mat-option>
      <mat-option value="Active">Active</mat-option>
      <mat-option value="InActive">InActive</mat-option>
    </mat-select>
    </mat-form-field>
  </form>
  <button class="addButton" mat-raised-button (click)="addProduct()">Add Product</button>
</div>

<table mat-table [dataSource]="productsData" matSort (matSortChange)="onSortChange()" class="mat-elevation-z8 demo-table">

  <!-- Name Column -->

  <ng-container matColumnDef="Thumbnail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td mat-cell *matCellDef="let element"><img [src]="getImage(element.thumbnail)" style="width:60px; height:60px;"> </td>
  </ng-container>

  <ng-container matColumnDef="ProductName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>

  <ng-container matColumnDef="CategoryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}}$ </td>
  </ng-container>
  
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element">
      @if (element.status == 'Active') {
        <span style="color: green; font-weight: 500;">{{element.status}}</span>
      }@else {
        <span style="color: red;font-weight: 500;">{{element.status}}</span>
      }
      
    </td>
  </ng-container>

   <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef > Actions </th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <button mat-icon-button class="view-button" (click)="viewDetail(element)">
          <mat-icon >visibility</mat-icon>
        </button>
        <button mat-icon-button class="edit-button" (click)="updateProduct(element)">
          <mat-icon>edit</mat-icon>
        </button>
        @if(element.status == 'Active'){
          <button mat-button (click)="changeStatus(element)" style="background-color: #fad1d1; color: red;border-radius: 10%;">DeActive </button>
        } @else {
          <button mat-button (click)="changeStatus(element)" style=" background-color: #d7f3d9; color: #2e7d32; ;border-radius: 10%;" >Active</button>
        }
        
      </div>          
    </td>
  </ng-container>

  <!-- Header and Row Definition -->
  <tr mat-header-row *matHeaderRowDef="['Thumbnail','ProductName', 'CategoryName', 'Price', 'Quantity', 'Status','Actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['Thumbnail','ProductName', 'CategoryName', 'Price', 'Quantity', 'Status','Actions']"></tr>
</table>
<!-- pagination -->
<mat-paginator [length]="totalProducts" [pageSize]="pageSize" (page)="onPageChange($event)">
</mat-paginator>
