<app-navbar></app-navbar>
<app-slider></app-slider>
<div class="best-seller">
    <div style="display: flex;justify-content: center; ">
        <h1 class="title">Best Seller</h1>
    </div>
    <div class="coffee-container">
        @for (product of listBestSellerProducts; track $index) {
        <mat-card class="coffee-card">
            <img mat-card-image style="height: 225px;" [src]="getImage(product.thumbnail)" alt="{{ product.productName }}">
            <mat-card-content>
                <h2 class="coffee-title">{{ product.productName }}</h2>
                <p class="coffee-description">{{ product.description }}</p>
                <div style="display: flex; height: 20px;">
                    @if (product.rate) {
                        @for (star of stars; track $index; let j = $index) {
                            <mat-icon style="cursor: pointer;color: #FFD700;"> {{  (j+1) <= product.rate ? 'star' : 'star_border' }}</mat-icon>
                          }
                        <p>{{product.rate.toFixed(1)}}</p>
                        <p>({{product.numberReviews}} reviews)</p>
                    }                    
                </div>
                
            </mat-card-content>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p class="coffee-price" style="margin-left: 15px;">Price: <span style="color: red;">{{ product.price
                        }}đ</span></p>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="addToCart(product)" >Buy Now</button>
                </mat-card-actions>
            </div>
        </mat-card>
        }       
    </div>
    <div style="display: flex;justify-content: center; ">
        <a style="color: rgb(60, 122, 231);" routerLink="/productlists">View more >>></a>
    </div>
</div>

<div class="about-container">
    <div class="text-content">
        <h1 class="title">WE ARE <span class="subtitle">Coffee Shop</span></h1>
        <p class="hours">Monday to Saturday <strong>8:30am - 11:00pm</strong> | Hotline: <strong>19006750</strong></p>
        <div class="divider"></div>
        <p class="description">
            We travel the world in search of exceptional coffee. Along the way, we discover rare and unique beans that
            we simply can't wait to bring back.
        </p>
    </div>
    <div class="image-content">
        <img src="/coffee-cup.png" alt="Coffee cup" class="coffee-image" />
    </div>
</div>